# dependencies
node_modules

# logs
*.log

# next.js
.next
next-env.d.ts

# build
/app
dist

# database files
main/db/
prisma/main/db/
*.db
*.sqlite
*.sqlite3

# prisma migrations (keep schema but ignore generated migrations)
main/db/migrations/
prisma/migrations/
migration_lock.toml


# environment variables
.env